# Menghitung Jarak

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances

file_url = 'https://drive.google.com/file/d/1Z7juKxTequCoJHukHBQvoNxFz7i9qVNV/view?usp=sharing'

file_id = file_url.split('/')[-2]
dwn_url = "https://drive.google.com/uc?id=" + file_id
df = pd.read_csv(dwn_url, sep=';')
df.head(10)

,no,nama,jenis_kelamin,umur,status,mempunyai mobil,mempunyai motor,jabatan
0,1,Rahmad,laki-laki,25,Menikah,Ya,Tidak,Satpam
1,2,Rima,Perempuan,30,Belum Menikah,Tidak,Ya,Dosen
2,3,Bobon,laki-laki,35,Menikah,Ya,Tidak,Dosen
3,4,Shofie,Perempuan,31,Belum Menikah,Tidak,Ya,Dosen
4,5,Jauhari,laki-laki,40,Menikah,Ya,Tidak,Dosen
5,6,Mula'ab,laki-laki,34,Menikah,Tidak,Ya,Dosen
6,7,Firdaus,laki-laki,34,Menikah,Ya,Tidak,Dosen
7,8,Kautsar,laki-laki,35,Belum Menikah,Tidak,Ya,Dosen
8,9,Indah,Perempuan,36,Menikah,Ya,Tidak,Dosen
9,10,Ifada,Perempuan,40,Menikah,Tidak,Ya,Dosen

**Penjelasan Tipe Data :**

*   Kolom "Umur" adalah tipe data numerik karena nilainya berupa angka.
*   Kolom "Jenis Kelamin" dan "Status " adalah tipe data kategorical/nominal karena nilainya terdiri dari kategori atau label.
*   Kolom "Jabatan" adalah tipe data kategorical/nominal karena nilainya terdiri dari kategori atau label.
*  Kolom "Memiliki mobil" dan "Memiliki motor" adalah tipe data biner  karena nilainya hanya bisa berupa Ya atau Tidak.

**Code untuk menggabungkan atribut yang berbeda ke dalam matriks ketidaksamaan tunggal**

In [ ]:
X = df[[ 'jenis_kelamin','umur', 'status', 'mempunyai mobil','mempunyai motor', 'jabatan']].copy()
X['jenis_kelamin'] = pd.Categorical(X['jenis_kelamin']).codes
X['umur'] = pd.Categorical(X['umur']).codes
X['status'] = pd.Categorical(X['status']).codes
X['mempunyai mobil'] = pd.Categorical(X['mempunyai mobil']).codes
X['mempunyai motor'] = pd.Categorical(X['mempunyai motor']).codes
X['jabatan'] = pd.Categorical(X['jabatan'], categories=['Satpam', 'Dosen'], ordered=True).codes

**Code untuk menghitung matriks ketidaksamaan dengan skala interval antara [0,0,1.0]**

In [ ]:
dist_matrix = pairwise_distances(X, metric='manhattan') / max(pairwise_distances(X, metric='manhattan').flatten())

**Code untuk menampilkan matriks ketidaksamaan**

In [ ]:
print(dist_matrix)

[[0.  0.6 0.5 0.7 0.7 0.6 0.4 0.8 0.7 1. ]
 [0.6 0.  0.7 0.1 0.9 0.4 0.6 0.4 0.7 0.6]
 [0.5 0.7 0.  0.6 0.2 0.3 0.1 0.3 0.2 0.5]
 [0.7 0.1 0.6 0.  0.8 0.3 0.5 0.3 0.6 0.5]
 [0.7 0.9 0.2 0.8 0.  0.5 0.3 0.5 0.2 0.3]
 [0.6 0.4 0.3 0.3 0.5 0.  0.2 0.2 0.5 0.4]
 [0.4 0.6 0.1 0.5 0.3 0.2 0.  0.4 0.3 0.6]
 [0.8 0.4 0.3 0.3 0.5 0.2 0.4 0.  0.5 0.4]
 [0.7 0.7 0.2 0.6 0.2 0.5 0.3 0.5 0.  0.3]
 [1.  0.6 0.5 0.5 0.3 0.4 0.6 0.4 0.3 0. ]]